.tag-box .tag-swatch {
	position: absolute;
	display: inline-block;
	height: .9em;
	width: .9em;
	border-radius: 100%;
	font-size: 1em;
}

.tag-box {
	display: inline-block;
	position: relative;
	height: 1em;
	line-height: 1em;
}